@{
    ViewData["Title"] = "Home Page";
}
<h1>CreateForm</h1>

<form asp-action="VeriAl" asp-controller="Home" method="post">
    <input type="text" name="txtValue1" /><br />
    <input type="text" name="txtValue2" /><br />
    <input type="text" name="txtValue3" /><br />
    <button>Gönder</button>
</form>
